*{
  margin: 0;
  padding: 0;
}
body{
  padding: 0;
}
nav.navbar.navbar-expand-md {
  background-color: #eb5757;
  box-shadow: 1px 1px 5px #ccc;
}
nav.navbar.navbar-expand-md a {
  color: #fff;
}
ul.navbar-nav.ml-auto li {
  padding-left: 37px;
}

button.btn_read {
  border: none;
  background-color: #216d75;
  color: #fff;
  padding: 9px;
  margin: 9px auto;
}

.bg_img {
  /* background-image: url(/static/media/banner.f7bf6d3b.jpg); */
  background-color: #eb5757;
  width: 100%;
  height: 80vh;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}


svg.svg_set {
  position: absolute;
  bottom: 0;
}

/*FOOTER*/

footer {
  background: #efefef;
  box-shadow: 0px 0px 7px #ccc;
  color: white;
}

footer a {
  color: #383838;
  font-size: 14px;
  transition-duration: 0.2s;
}
.footer-middle h4 {
  color: #383838;
}
footer a:hover {
  color: #FA944B;
  text-decoration: none;
}
.col-md-12.copy p {
  color: #383838;
  margin: 0;
}
.copy {
  font-size: 12px;
  padding: 10px;
  border-top: 1px solid #FFFFFF;
}

.footer-middle {
  padding-top: 2em;
  color: white;
}


/*SOCİAL İCONS*/

/* footer social icons */

ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
}

.active{
  border-bottom:solid #000;
}
.nav-link {
  padding: 0.3rem 1rem;
}
a.navbar-brand img {
  margin-top: 15px;
}

.content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* footer social icons */

.social-network a:hover {
  background-color: #f71701;
}

.social-network a.icoFacebook:hover i,
.social-network a.icoLinkedin:hover i {
  color: #fff;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
  color: #44BCDD;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 15px;
}

.social-circle li i {
  margin: 0;
  line-height: 30px;
  text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.social-circle i {
  color: #f71701;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.social-network a {
  background-color: #F9F9F9;
}


